    /*  Extra small devices (portrait phones, less than 576px) */
    
    @media (max-width: 320px) {
        /* navbar part */
        .navbar-light .navbar-nav .nav-link {
            font-size: 16px;
            padding: 10px 0px;
            text-align: center;
        }
        .header {
            padding: 0;
        }
        .header-content h5 {
            font-size: 14px;
            padding-bottom: 0px;
        }
        .header-content h2 {
            font-size: 21px;
            padding-bottom: 12px;
        }
        .header-content p {
            font-size: 15px;
            line-height: 21px;
        }
        /* service part start */
        .sevrice {
            padding-top: 30px;
        }
        .service-content h2 {
            font-size: 20px;
            padding-bottom: 15px;
        }
        .service-content p {
            font-size: 14px;
            padding-bottom: 30px;
        }
        .service-content h5 {
            font-size: 16px;
            padding: 15px 0px;
        }
        /* service-2 part start */
        .service-2 {
            padding: 30px 0;
        }
        .btn-custom {
            padding: 13px 16px;
            font-size: 16px;
        }
        /* signup part start */
        .signup {
            padding: 50px 0;
        }
        .signup-content h2 {
            font-size: 24px;
            padding: 0;
        }
        /* footer part start */
        .social-icon {
            text-align: center!important;
        }
        .social-icon ul li a {
            font-size: 15px;
        }
    }
    /*  Extra small devices (portrait phones, less than 576px) */
    
    @media (max-width: 575.98px) {
        ...
    }
    /*  Small devices (landscape phones, 576px and up) */
    
    @media (min-width: 576px) and (max-width: 767.98px) {
        .navbar-light .navbar-nav .nav-link {
            text-align: center;
        }
        /* getway part start */
        .header-content p {
            font-size: 15px;
            padding-bottom: 15px;
            line-height: 25px;
        }
        /* service part start */
        .service-content h5 {
            font-size: 18px;
            padding: 15px 0px;
        }
        .service-content h2 {
            font-size: 28px;
            padding-bottom: 20px;
        }
        .service-content p {
            padding-bottom: 20px;
        }
        /* signup part start */
        .signup-content h2 {
            font-size: 20px;
            padding: 30px 0;
        }
        /* footer part start */
        .social-icon {
            text-align: center!important;
        }
    }
    /*  Medium devices (tablets, 768px and up) */
    
    @media (min-width: 768px) and (max-width: 991.98px) {
        ...
    }
    /* Large devices (desktops, 992px and up) */
    
    @media (min-width: 992px) and (max-width: 1199.98px) {
        ...
    }
    /* Extra large devices (large desktops, 1200px and up) */
    
    @media (min-width: 1200px) {
        ...
    }